.flecha-atras {
    
    width: 20px;
    height: 20px;
    margin: 0 10px;
    color: #4b4747;
    
}

.title{
    margin-left: 10px;
}
ion-card {
    margin: 0px;
    box-shadow: none;
    border-radius: 0%;
}

.logowp{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.card{
    box-shadow: none;
    width: 450px;
    height: 100%;
}

.imagen {
    width: 450px;
    height: 300px;
   
    object-fit: cover;
    box-shadow: 1px 3px 8px rgba(156, 8, 8, 0.25);
}

