

  <ion-header>
    <ion-toolbar>
      <ion-buttons class="logo" slot="start">
        <img class="logo" src="assets/icon/logo_f.png" alt="Logo de la aplicación">
      </ion-buttons>
      <ion-title class="toolbar-title">Comerciantes Restrepo</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-slides class="my-slides" [options]="slideOpts" pager="true" scrollbar="true">
  <ion-slide *ngFor="let images2 of images2">
    <ion-card class="card">

      <ion-img class="imagen" [src]="images2.src"></ion-img>

      <ion-card-header>
        <ion-card-subtitle>{{ images2.fecha }}</ion-card-subtitle>
        <ion-card-title>{{ images2.title }}</ion-card-title>
      
      </ion-card-header>
    </ion-card>
    
  </ion-slide>
</ion-slides>
<div class="swiper-pagination"></div>

<p class="text" style=" color:rgb(0, 0, 0); text-align: center; padding-left: 20px; padding-top: 7px; padding-bottom: 7px; font-weight: bold;">Nuestras
  marcas</p>


<ion-content>
  <ion-grid>
    <ion-row style="padding-left: 10px; padding-right: 10px;">
      <ion-col size="3" size-md="2" *ngFor="let imagenes of imagenes">
        <ion-card class="cardNegocios" (click)="goToDetail(imagenes.id)">
          <img [src]="imagenes.url">
          <!-- <ion-card-content>
           <ion-card-title [innerHTML]="imagenes.title" style="font-size: 10px;"></ion-card-title>
          </ion-card-content>-->

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>