ion-card {
    margin: 1px;
    box-shadow: none;
}

ion-buttons img {
    height: 40px;
    padding: 0 10px;
}

ion-toolbar ion-title .logo {
    margin-right: 100px;
}

.tolbar{
    border-bottom: 1px solid black;
    
}

.imagen {
    width: 400px;
    height: 300px;
    /* ajusta el tamaño de la imagen como desees */
    object-fit: cover;
    box-shadow: 1px 3px 8px rgba(156, 8, 8, 0.25);
}



.my-slides {
    padding-top: 20px;
    height: 400px;
    width: 100%;
   
}

ion-slide {
    padding-bottom: 30px;
}

ion-card-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

ion-card-subtitle {
    font-size: 10px;
    font-weight: bold;
    color: grey;
    overflow-y: scroll;

}


.text{
background-color: #f7f7f7;
box-shadow: 1px 3px 8px rgba(156, 8, 8, 0.25);
}

